<h1>Contacts Form</h1>
<%= form_tag 'result', method: :post do%>
<div>
First Name
  <input type="text" name="input_first_name">
</div>

<div>
Last Name
  <input type="text" name="input_last_name">
</div>

<div>
Email
  <input type="text" name="input_email">
</div>

<div>
Phone Number
  <input type="text" name="input_phone_number">
</div>

<div>
  <input type="submit" value="done">
</div>

<% end %>